body {
  font: 1.2em / 1.5 sans-serif;
  margin: 0;
}

/* Flex One */
nav {
  border: 2px solid black;
  padding: 30px 20px;
  background: white;
}

.flex1 {
  max-width: 750px;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex1 a:link,
.flex1 a:visited {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.9em;
  color: white;
  padding: 18px 28px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6em;
}

/* Flex Two */

.flex2 {
  max-width: 750px;
  list-style: none;
  padding: 0;
  margin: 20px auto;

  display: flex;
  gap: 10px;
}

.flex2 li {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;

  flex: 1;
}

/* Flex Three */

.flex3 {
  width: 450px;
  list-style: none;
  padding: 0;
  margin: 20px auto;

  display: flex;
  flex-wrap: wrap;
}

.flex3 li {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
  margin: 0.5em;

  flex: 0 0 120px;
}