
/* Grid One */

body {
  font: 1.2em / 1.5 sans-serif;
}

.grid-one > * {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

.grid-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}




/* Grid Two */

.grid-two > * {
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.grid-two .item1 {
  background-color: rgb(74 102 112 / 70%);
  border: 5px solid rgb(74 102 112 / 100%);
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.grid-two .item2 {
  background-color: rgb(214 162 173 / 70%);
  border: 5px solid rgb(214 162 173 / 100%);
  grid-column: 2 / 5;
  grid-row: 2 / 4;
}

/* Grid Three */
.grid-three > * {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

.grid-three {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "aa aa"
    "bb cc"
    ". dd";
}

.grid-three .one   { grid-area: aa; }
.grid-three .two   { grid-area: bb; }
.grid-three .three { grid-area: cc; }
.grid-three .four  { grid-area: dd; }

/* Grid Four */
.grid-four {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-four .card {
  display: grid;
  grid-template-rows: 200px min-content;
}

.grid-four .card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-four .tags {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-four .tags > * {
  background-color: #999999;
  color: white;
  padding: 0.2em 0.8em;
  border-radius: 0.2em;
  font-size: 80%;
  margin: 5px;
}